.search-container{
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}
.search-btn{
  background-color: var(--primary);
  color: whitesmoke;
  border: none;
  border-radius: 1.2rem;
  padding: 0.3rem 1.2rem;
  display: inline-block;
  margin-left: 1rem;
}
.search-input{
  border: 1px solid var(--gray);
  padding: 0.5rem 1rem;
  flex-grow: 1;
  height: 2.6rem;
  border-radius: 1.2rem;
}
.address-book{
background-color: #fff;
/* border-radius: 1rem; */
margin-top: 1.5rem;
}
.address-book__item{
  
  border-bottom: 1px solid ;
  border-bottom-color: var(--gray);
  padding: 1rem 0.75rem;
}
.address-book__top{
  display: flex;
  justify-content: space-between;
}
.drop-list{
  margin-top: 1rem;
}
.drop-list .flex-wrapper{
  margin-top: 0.5rem;

}
.address-book__phone{
  color: #333;
  margin-left: 0.3rem;
  margin-right: 0.6rem;
}

.address-book__icon{
  margin-left: 0.3rem;
  margin-right: 0.6rem;
  color: var(--gray);
}
.address-book__email{
  color: var(--gray);
}
.address-book__birth{
  color: var(--gray);
}
.address-book__edit{
  margin-left: 0.3rem;
  margin-right: 0.6rem;
  color: var(--primary);
}
.address-book__delete{
  color: var(--warn);
}